@import url(https://fonts.googleapis.com/css2?family=Popins:wght@100;200;300;400;500;600;800;900);

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Popins', sans-serif;
    min-height: 100vh;
    background: rgb(18, 175, 195);
    color: white;


    display: flex;
    justify-content: center;
    align-items: center;
}